.index{   
    width: 100vw;
    height: 100vh;
    background: #94CBF1;
}
.index>div{
    margin: 0 auto;
    width: 18rem;
    height: 60vw;
}
.index>div>div:nth-of-type(1){
    padding-top: 30%;
    box-sizing: border-box;
}
.index>div>div:nth-of-type(1)>p>img{
    width: 100%;
}
.index>div>div:nth-of-type(1)>h1{
    margin-top: 0.5rem;
    font-weight: bold;
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
    color: white;
}
.index>div>div:nth-of-type(1)>h2{
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: center;
    color: white;
}
.index>div>div:nth-of-type(1)>form>fieldset{
    overflow: hidden;
}
.index>div>div:nth-of-type(1)>form>fieldset>input{
    -webkit-appearance: none;
    outline: 0 none;
}
.index>div>div:nth-of-type(1)>form>fieldset>input[type^="te"]{
    margin-top: 1.5rem;
}
.index>div>div:nth-of-type(1)>form>fieldset>input[type^="te"], input[type^="pa"]{
    display:block;
    margin-bottom: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;
    height: 2rem;
    border-radius: 1.5rem;
    border: 0.2rem solid #2CA2EF;
}
.index>div>div:nth-of-type(1)>form>fieldset>input.btn, input.log{
    -webkit-appearance: none;
    border: 0 none;
}
.index>div>div:nth-of-type(1)>form>fieldset>input[type^="bu"], input[type^="su"]{
    float: left;
    display:block;
    margin-bottom: 1rem;
    width: 48%;
    height: 2.3rem;
    border-radius: 1.5rem;
    border: 0.2rem solid #2CA2EF;
    font-size: 1.2rem;
    line-height: 2rem;
    color: #2CA2EF;
    cursor: pointer;
}
.index>div>div:nth-of-type(1)>form>fieldset>input[type^="bu"]{
    margin-right: 4%;
    background-color: #94CBF1;
}
.index>div>div:nth-of-type(1)>form>fieldset>input[type^="su"]{
    background-color: white;
}


.index>div>div:nth-of-type(2){
    margin-top: 2rem;
}
.index>div>div:nth-of-type(2)>ul{    
    display: flex;
    justify-content: space-between;
}
.index>div>div:nth-of-type(2)>ul>li{
    flex: 0 0 auto;
}