.header_1 {
    width: 100vw;
    height: 100vh;
}
.header_1 > div > header {
    position: relative;
    background: #3d7ebc;
    height: 8vh;
    text-align: center;
}
.header_1 > div > header > h1 {
    box-sizing: border-box;
    font-size: 1.5rem;
    line-height: 8vh;
    color: white;
}

/* 이전버튼 */
.header_1 > div > header > p {
    position: absolute;
    top: 30%;
    left: 20px;
    display: inline-block;
}
.header_1 > div > header > p > a {
    display: inline-block;
}
.header_1 > div > header > p > a > img {
    width: 2rem;
}

.header_1 > div > main {
    margin-top: 3rem;
}

/* 사진등록 */
.header_1 > div > main > form > fieldset > div.m_photo {
    margin: 0 auto;
    width: 11rem;
    height: 11rem;
    border: 0.4rem solid #3d7ebc;
    border-radius: 50%;
}
.header_1 > div > main > form > fieldset > div.m_photo > p {
    text-align: center;
    color: #3d7ebc;
    cursor: pointer;

}
.header_1 > div > main > form > fieldset > div.m_photo > p.more {
    margin-top: 1.2rem;
    font-size: 6rem;

}
.header_1 > div > main > form > fieldset > div.m_photo > p.photo {
    font-size: 1.8rem;
}

/* 강아지 고양이 선택 */
.header_1 > div > main > form > fieldset > .pet_1 {
    margin: 2rem auto;
    width: 20rem;
    height: 15vh;
}
.header_1 > div > main > form > fieldset > .pet_1 > label.pet > img {
    width: 9rem;
}
.header_1 > div > main > form > fieldset > .pet_1 > label.pet:nth-of-type(1) {
    margin-right: 1.7rem;
}
.pet1{
    margin-top: 1rem;    
    margin-left: 4rem;
}
.pet1:nth-of-type(2){
    float: right;
    margin-right: 4rem;
}

/* 이름, 생년월일 */

.header_1 > div > main > form > fieldset > div.box_1 {
    padding-top: 1rem;
    margin: 0 auto;
    width: 80vw;
}
.ment{    
    display: flex;
    margin-bottom: 0.2rem;
    margin-top: 0.8rem;
    font-size: 1rem;
    color: #43689A;
}
.header_1 > div > main > form > fieldset > div label[for^='na'],
label[for^='bi'] {
}
.header_1 > div > main > form > fieldset > div input[type^='te'] {
    border: 0 none;
    border: 0.15rem solid #43689A;
    border-radius: 0.3rem;
    width: 100%;
    height: 2.5rem;
    padding: 0.5rem;
    box-sizing: border-box;
}

/* 성별 */

.header_1 > div > main > form > fieldset > div p:nth-of-type(1) {
}
div.radio-items{ 
    /* 수정하기~~~!!! */
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 79vw;
    height: 2.2rem;
    background-color: #43689a;
    border: 0.15rem solid #43689A;
    border-radius: 0.3rem;
    
}
div.radio-items>input[type="radio"]{
    display: none;    
}
div.radio-items>label{
    font-size: 1.2rem;
    line-height: 2rem;
    color: white;
    width: 38vw;
    border-radius: 0.2rem;
    text-align: center;
}
div.radio-items>input[type="radio"]:checked + label{
    background-color: rgba(255,255,255,0.5);
}
.weig{
    background: url(../imgs/kg-01.png) no-repeat 97% 50%;
    background-size: 1.2rem;
}
.sub_c{
    margin-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
}

.sub{
    border: 0 none;
    border-radius: 0.3rem;
    background-color: #CA6F42;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 2.5rem;
    width: 7rem;
    height: 2.5rem;
    text-align: center;
}

/* https://hyc7575.github.io/2017/09/19/2017-09-19-custom-radio-button/ */
