header{    
    font-family: 'Noto Sans KR', sans-serif;
    position: absolute;
    top: 0; left: 0;
    z-index: 9999;
    width: 100vw;
}
header>div.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 132rem;
    height: 6rem;
    font-weight: 700;
}

/* 로고&언어유틸메뉴 */
header div.head h1{
    flex: 0 0 auto;
}

header div.head dl.lang{
    flex: 0 0 auto;
    padding-left: 2.5rem;
    padding-right: 1.5rem;
    margin-left: 2.5rem;
    margin-top: 1.5rem;
    height: 2.6rem;
    font-size: 1.1rem;
    line-height: 1.6rem;
    box-sizing: border-box;
    color: #fff;
    background: url(../imgs/icon/global.png) no-repeat 0 0,
                url(../imgs/icon/arrow-down.png) no-repeat 5.5rem 25%;
}
header div.head dl.lang>dd{
    width: 5rem;
}
header div.head dl.lang>dd:not(:nth-child(2)){
    display: none;
}


/* 네비게이션 */
header nav{    
    flex: 1 0 auto;
    margin-left:15%;
}
header nav>ul{
    width: 52.5rem;
    display: flex;
    justify-content: space-between;
}
header nav>ul>li{
    flex: 0 0 auto;
}
header nav>ul>li>a{
    font-size: 1.4rem;
    color: #fff;
}
header nav>ul>li>div{
    display: none;
    position: absolute;
}
header nav>ul>li dl{}
header nav>ul>li dl>dt{}
header nav>ul>li dl>dt>a{
    font-size: 1.2rem;
    color: #fff;
}
header nav>ul>li dl>dd{}
header nav>ul>li dl>dd>a{
    font-size: 1rem;
    color: #fff;}

/* 검색창 */
header form{}
header form>fieldset{
    position: relative;
}
header form>fieldset>input[type="search"]{
    appearance: none;
    border: 0 none;
    padding: 1rem;
    width: 13rem;
    height: 2rem;
    border-radius: 1.2rem;
}
header form>fieldset>input[type="image"]{
    position: absolute;
    top: 25%; right: 5%;
}



/* 이벤트 */
header div.head dl.lang:hover>dd{
    display: block;
}